.memoryPage {
	background-color: rgba(205, 210, 192,1.00);
}
#intro {
	text-align: center;
}

#field>div {
	float: left;	
}

#field div div {
	margin: 5px;
	background-size: contain;
}
.uncovered {
	width:100%;
	visibility:hidden;
}
.covered {
	width:100%;
	background-color: rgb(213, 88, 24);
}
#result {
	padding-top: 10px;
	font-size: 24px;
	font-weight: bold;
	clear: both;
}

#result > div {
	display: block;
	float: left;
	box-sizing: border-box;
	width: 33%;
}

#result output {
	display:block;
	margin:10px;
	padding: 10px;
	border-radius: 10px;
	background-color: rgba(102,143,136,1.00);
	text-align: center;

}

/* micro clearfix hack */
.cf:before, .cf:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}
.cf:after {
	clear: both;
}
.board4, .board5, .board6 {
	display: block;
	float: left;
	padding: 5px;
	box-sizing:border-box;
}

.picked{
	visibility: hidden;
}

.board4{
	width:25%;
	}
.board5{
	width:20%;
	}
.board6{
	width:16.66666%;
	}		
	
#field {
width:100%;
margin:0 auto;
}
img {
	margin: -1px;
	display:block;
}

.ui-page {
	background-color: rgba(177,212,211,1.00);
}
	
@media screen and (min-width:768px){
#field {
max-width:900px;
}
}
