<div data-role="page" [style.height]="windowHeight" class="memoryPage">
  <div data-role="header" data-position="fixed">
    <div id="intro">
      <select id="select_fs" [(ngModel)]="selectedFieldsize" (change)="onSelectFieldSize($event)">
        <option value="" disabled selected>select fieldsize</option>
        <option *ngFor="let boardsize of boardSizes.sizes" value="{{boardsize}}">{{boardsize}} x {{boardSize}}</option>
      </select>
    </div>
  </div>
  <div role="main" class="ui-content">
    <div id="board" class="cf">
      <div id="field" class="cf">
        <app-card class="{{boardClass}}" [class.picked]="card.picked" *ngFor="let card of cardset" [card]="card"
          (click)="onClickCard(card)"></app-card>
      </div>
    </div>
  </div>
  <div data-role="footer" data-position="fixed" *ngIf="showFooter" class="animate-if">
    <div id="result" class="cf">
      <div><output id="tries">{{tries}}</output></div>
      <div><output id="succes">{{score}}</output></div>
      <div><output id="time">{{timerText}}</output></div>
    </div>
  </div>
</div>